/* Header styling */
header {
    background-color: #00bfff;
}

header .bi {
    vertical-align: middle;
}

.navbar {
    background: rgb(237, 120, 141);
}

.nav-item {
    padding: 0 20px;
}

.nav-item:hover {
    background-color: hsl(190, 60%, 98%);
}

.nav-item:hover .nav-link {
    color: #22f376;
}

.navbar-brand i {
    color: #22f376;
}

body {
    background: #F1F1F1;
}

.wrap-1 {
    background: #F1F1F1;
}

.wrap-1 h1 {
    color: rgb(50, 176, 80);
    margin-bottom: 20px;
}

.wrap-1 p {
    text-align: left;
    margin-bottom: 20px;
}

.container {
    text-align: left;
}

.wrap-1 img {
    margin-top: 20px;
}

.btn-success{
    width:100px;
    border-radius: 0px;
}
.btn-outline-success{
    width: 150px;
}

.about-us{
    color: #19B688;
}